<div class="grid">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="form" (ngSubmit)="SaveData()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-10">
                        <h5 class="align-content-end">Product</h5>
                    </div>
                    <div class="field col-12 md:col-1">
                        <button pButton routerLink="/admin/ui/product" pRipple label="Back"
                            class="p-button-secondary"></button>
                    </div>
                    <div class="field col-12 md:col-1">
                        <button pButton type="submit" [disabled]="!form.valid" pRipple label="add"
                            class="p-button-primary"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="firstname2">Name</label>
                        <input pInputText formControlName="name" id="name" type="text" />

                        <span *ngIf="form.controls['name'].hasError('required') && form.touched" class="p-error mt-1">
                            Name is required
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="lastname2">Price</label>
                        <input pInputText formControlName="price" id="price" type="number" />
                        <span *ngIf="form.controls['price'].hasError('required') && form.touched" class="p-error mt-1">
                            Price is required
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="city">Quantity</label>
                        <input pInputText formControlName="qty" id="qty" type="number" />
                        <span *ngIf="form.controls['qty'].hasError('required') && form.touched"
                            class="p-error mt-1"></span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="zip">Category</label>
                        <input pInputText id="zip" formControlName="branch" type="text" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>