<div class="grid">
    <div class="col-12 md:col-4">

        <div class="card p-fluid">

        </div>

        <div class="card p-fluid">

        </div>

        <div class="card p-fluid">

        </div>

    </div>

    <div class="col-12 md:col-4">
        <div class="card p-fluid">

        </div>
        <div class="card p-fluid">
            <h2>Two-way binding</h2>
            <label>Welcome: </label>
            <div>
                <input type="text" pInputText autocomplete="" />
            </div>

        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="card p-fluid">

        </div>
    </div>

</div>