<h2>{{inputValue}}</h2>
<h2>Text Lenght is - {{contentLength}}</h2>
<hr>

<div class="grid">
    <div class="col-12 md:col-6">

        <h2> ngOnInit</h2>
        <div>
            <p>{{data}} {{subtitle}}</p>
        </div>

    </div>
</div>
<hr>
<div class="grid">
    <div class="col-12 md:col-6">
        <h2> ngDoCheck</h2>
        <p>Current time: {{ currentTime }}</p>
    </div>
</div>
<hr>
<div class="grid">
    <div class="col-12 md:col-6">
        <h2>OnDistory Component</h2>
        <!-- <p>{{ message }}</p> -->
    </div>
</div>