<div class="grid">
    <div class="col-12 md:col-10">
        <form [formGroup]="userDetailsForm" novalidate (submit)="onSubmit()">
            <div class="card p-fluid">
                <p-panel header="Customer">
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label for="name">Name <span class="required">*</span></label>
                            <input id="name" pInputText formControlName="name" minlength="4" />
                        </div>

                        <div class="field col">
                            <label for="email">Email <span class="required">*</span></label>
                            <input id="email" pInputText formControlName="email" />
                        </div>
                    </div>
                </p-panel>

                <br />

                <!-- Buttons -->
                <div class="col-4">
                    <div class="formgroup-inline">
                        <div class="field-checkbox">
                            <button pButton routerLink="/admin/kh/customer" icon="pi pi-arrow-left" pRipple label="Back"
                                class="p-button-secondary"></button>
                        </div>
                        <div class="field-checkbox">
                            <button pButton type="submit" label="Submit"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Toast Notification -->
<p-toast position="top-right"></p-toast>