.first {
    background-color: #3471eb;
}

.second {
    font-size: 30px;
    padding-left: 20px;
    color: pink;
}

.show {
    background-color: grey;
    color: green;
    font: bold;
}

.isShow {
    color: red;
}